adblockparser==0.7
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
appdirs==1.4.4
argcomplete==3.6.2
asttokens==3.0.0
asyncio==3.4.3
attrs==24.3.0
Automat==24.8.1
bcrypt==4.3.0
Beaker==1.12.1
beautifulsoup4==4.12.3
blivet==3.10.0
blivet-gui==2.6.0
boto==2.49.0
boto3==1.37.38
botocore==1.37.38
Brlapi==0.8.5
bs4==0.0.2
cachetools==5.5.1
cattrs==24.1.3
certifi==2024.12.14
cffi==1.16.0
charset-normalizer==3.3.2
chembl-webresource-client==0.10.9
click==8.1.7
constantly==23.10.4
contourpy==1.3.1
crcmod==1.7
cryptography==41.0.7
cssselect==1.2.0
cssutils==2.11.1
cupshelpers==1.0
cycler==0.12.1
dasbus==1.7
dbus-python==1.3.2
decorator==5.1.1
dill==0.3.9
distro==1.9.0
dnf==4.23.0
dnspython==2.7.0
easydict==1.13
executing==2.1.0
fake-useragent==2.0.3
fasteners==0.19
fedora-third-party==0.10
file-magic==0.4.0
fonttools==4.56.0
fros==1.1
frozenlist==1.5.0
funcparserlib==1.0.1
future==1.0.0
gcs-oauth2-boto-plugin==3.1
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.24.2
google-apitools==0.5.32
google-auth==2.38.0
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-crc32c==1.7.0
google-reauth==0.1.1
google-resumable-media==2.7.2
googleapis-common-protos==1.69.2
graphql-core==3.2.5
graphviz==0.21
greenlet==3.1.1
gsutil==5.27
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httplib2==0.20.4
humanize==3.13.1
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.7
ihm==2.3
imbalanced-learn==0.14.1
importlib_metadata==8.5.0
incremental==24.7.2
ipython==8.31.0
iso639==0.1.4
jedi==0.19.2
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
langtable==0.0.68
libcomps==0.1.20
libdnf==0.74.0
louis==3.28.0
lxml==5.1.0
Mako==1.2.3
MarkupSafe==2.1.3
matplotlib==3.10.1
matplotlib-inline==0.1.7
mmcif==0.91.0
modelcif==1.3
monotonic==1.6
more-itertools==10.6.0
msgpack==1.1.0
multidict==6.2.0
multiprocess==0.70.17
mypy==1.15.0
mypy-extensions==1.0.0
networkx==3.4.2
nftables==0.1
nltk==3.9.1
numpy==2.4.1
oauth2client==4.1.3
obonet==1.1.0
olefile==0.47
outcome==1.3.0.post0
packaging==23.2
pandas==3.0.0
pandas-stubs==2.3.3.260113
paramiko==3.5.1
parse==1.20.2
parso==0.8.4
Paste==3.7.1
pexpect==4.9.0
pid==2.2.3
pillow==10.3.0
platformdirs==4.3.7
ply==3.11
premailer==3.10.0
priority==1.3.0
productmd==1.45
prompt_toolkit==3.0.48
propcache==0.3.0
proto-plus==1.26.1
protobuf==6.30.1
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
pwquality==1.4.5
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycairo==1.25.1
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.4
pyee==11.1.1
pyenchant==3.2.2
Pygments==2.19.1
PyGObject==3.48.2
pykickstart==3.52
pymongo==4.11.3
PyNaCl==1.5.0
pyOpenSSL==23.2.0
pyparsing==3.2.2
pyparted==3.13.0
pyppeteer==2.0.0
pyquery==2.0.1
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-meh==0.51
python-pam==2.0.2
pytz==2025.2
pyu2f==0.1.5
pyudev==0.24.1
pyxdg==0.27
PyYAML==6.0.1
qt5reactor==0.6.3
rapidfuzz==3.5.2
# Editable Git install with no remote (rcsb-api==1.0.0)
-e /rcsb/py-rcsb-api
-e git+https://github.com/rcsb/py-rcsb_db.git@bd415873196639c4063e29aff5ec0a2b32efee85#egg=rcsb.db
rcsb.utils.chemref==0.94
rcsb.utils.citation==0.24
rcsb.utils.config==0.41
rcsb.utils.dictionary==1.31
rcsb.utils.ec==0.26
rcsb.utils.insilico3d==0.40
rcsb.utils.io==1.49
rcsb.utils.multiproc==0.21
rcsb.utils.repository==0.48
rcsb.utils.seq==0.83
rcsb.utils.struct==0.49
rcsb.utils.targets==0.83
rcsb.utils.taxonomy==0.45
rcsb.utils.validation==0.33
-e git+https://github.com/rcsb/py-rcsbsearchapi.git@563bc533cc1180252219b53384adb336fcff4e35#egg=rcsbsearchapi
rdflib==7.1.3
referencing==0.36.2
regex==2022.1.18
requests==2.31.0
requests-cache==1.2.1
requests-file==2.0.0
requests-ftp==0.3.1
requests-html==0.10.0
retry_decorator==1.1.1
rpds-py==0.23.1
rpm==4.19.1.1
rsa==4.7.2
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
rustworkx==0.15.1
s3transfer==0.11.5
scikit-learn==1.8.0
scipy==1.15.2
selenium==4.27.1
selinux @ file:///builddir/build/BUILD/libselinux-3.7/src
sepolicy @ file:///builddir/build/BUILD/selinux-3.7/python/sepolicy
setools==4.5.1
setuptools==69.0.3
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sklearn-compat==0.1.5
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
sos==4.7.2
soupsieve==2.5
SPARQLWrapper==2.0.0
splash==3.5
stack-data==0.6.3
systemd-python==235
Tempita==0.5.2
threadpoolctl==3.6.0
tqdm==4.67.1
traitlets==5.14.3
trio==0.28.0
trio-websocket==0.11.1
Twisted==24.11.0
types-beautifulsoup4==4.12.0.20250204
types-html5lib==1.1.11.20241018
types-pytz==2025.2.0.20251108
typing_extensions==4.12.2
url-normalize==1.4.3
urllib3==1.26.20
w3lib==2.2.1
wcwidth==0.2.13
websocket-client==1.8.0
websockets==10.4
wsproto==1.2.0
xkbregistry==0.3
xvfbwrapper==0.2.9
yagmail==0.15.293
yarl==1.18.3
zipp==3.21.0
zope.interface==7.2
